{% extends 'layout.html'%}
{% block content_top%}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Contact</h1>
            <p>Find us!</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d444.5960575775152!2d2.2272459523345964!3d41.44195885453354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1614821000940!5m2!1ses!2ses"  style="border:solid green 3px; width:90% ;height:auto;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
{% endblock content_top %}