{{% extends "layout.html" %}}
{% block content_bot %}
    <div class="container d-flex ">
        <div class="carousel slider-main "  data-flickity='{ "wrapAround": true, "prevNextButtons": false,
        "pageDots": false}'>
            <div class="carousel-cell slider-item"><img src="../static/img/bons1.jpg" alt=""></div>
            <div class="carousel-cell slider-item"><img src="../static/img/bons2.jpg" alt=""></div>
            <div class="carousel-cell slider-item"><img src="../static/img/bons3.jpg" alt=""></div>
            <div class="carousel-cell slider-item"><img src="../static/img/bons4.jpg" alt=""></div>
            <div class="carousel-cell slider-item"><img src="../static/img/bons5.jpg" alt=""></div>
        </div>
    </div>
{% endblock content_bot %}